@charset "utf-8";
/* CSS Document */
div{
  /*outline:dashed;*/
  outline:none;
  outline-width:thin;
}

.dots{
  float:left;
  width: 20px;
  height: 500px;

}

.dotLine{
  stroke:#666;
  stroke-width: 1px;
}

.boxplot{
  float:left;
  width: 30px;
  height: 500px;
}

.histogram{
  position: absolute;
  left: 620px;
  top: 400px;
  width: 170px;
  height: 100px;
}

.map{
  position: absolute;
  left: 50px;
  top: 0px;
  width: 800px;
  height: 500px;
}

.controls{
  position: absolute;
  left: 850px;
  width: 100px;
}

/* Default map fill styles */
.land {
  fill: #aaa;
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #bbb;
  stroke-width: 1.5px;
  stroke-linejoin: round;
}

/* Default histogram styles */
.bars{
  stroke: #666;
  stroke-width: 0.5px;
}

/* Tooltip */
div.tooltip {     
  position: absolute;             
  text-align: left;           
  width: 150px;
  height: 30px;                 
  padding: 2px;               
  font: 12px sans-serif;          
  background: #fff;     
  border: 0px;      
  outline:none;
  border-radius: 8px;             
  pointer-events: none;         
}

/* Default boxplot styles */
.boxplot{
  stroke:#666;
  stroke-width: 1px;
  fill: none;
}

/*.areaHistogram{*/
  /*position: absolute;*/
  /*left: 725px;*/
  /*top: 520px;*/
  /*outline: dashed;*/
  /*outline-width: thin;*/
  /*height: 100px;*/
  /*width: 170px;*/
/*}*/